@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap');
@import "./../../style/properties/base";


.playground{
    display: block;
    width: 100%;
    height: 100%; 
    background: radial-gradient(50% 50% at 50% 50%, rgba(143, 206, 120, 0.459375) 28.65%, rgba(88, 130, 73, 0.6) 89.06%), rgba(75, 164, 74, 0.6);

    .back{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%; 
        background: url('/assets/img/background_startPage.png');
        background-size: cover;
        background-repeat: no-repeat;

        .bummerl{
            padding: 20px;
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;

            span {
                font-size: 24px;
            }
        }
    
        .opponent{
            background-color: rgba(233, 162, 69, 0.699);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .card{
                width: 80px;
                height: 140px;
                background-color: white;
                margin: 20px;
            }

        }

        .points{
            display: flex;
            background-color: rgba(236, 110, 236, 0.062);
            padding: 20px;
            width: auto;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            z-index: 20;

            h3{
                margin-bottom: 10px;
            }

            span {
                width: 100%;
                font-size: 24px;
                text-align: center;
                margin: 0 -16px 0 0;
            }

        }

        .main{
            background-color: rgba(117, 117, 108, 0.699);
            width: 100%;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            

            
            .central{
                position: relative;

                height: 50%;
                background-color: rgba(184, 233, 69, 0.11);
                
                
                .cardStack{
                    position: absolute;
                    right: 0;

                    display: flex;
                    align-items: center;

                    background-color: rgba(197, 147, 53, 0.233);
                    height: 100%;
                    width: 10%;
                    min-width: 200px;
                    margin: 0 10px 0 auto;
                    
                    .sub{
                        background-color: rgba(75, 52, 11, 0.247);
                        position: relative;
                        height: 200px;
                        margin: auto;
                    }
                }

                .board{
                    height: 100%;
                    min-height: 280px;
                    padding-left: 3%;
                    padding-right: 3%;
                    background-color: rgba(66, 25, 48, 0.699);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .card{
                        width: 120px;
                        height: 240px;
                        background-color: white;
                        margin: 20px;
                    }
                }
            }
        
            .own{
                background-color: rgba(109, 231, 231, 0.699);
                height: 50%;
                
                .board{
                    height: 100%;
                    min-height: 280px;
                    background-color: rgba(66, 25, 48, 0.699);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    padding-left: 12%;
                    align-items: center;

                    .card{
                        width: 120px;
                        height: 240px;
                        background-color: white;
                        margin: 20px;
                    }
                }
            }

        }
        
    
    }

    
    

}