* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;

    .board{
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 300px;
        background-color: #313131;
        padding: 15px;

        .card{
            background-color: #f3f3f3;
            cursor: pointer;
            margin-bottom: 15px;

            .card-container{
                width: 100%;
                height: 200px;
            }

            .card-style {
                position: relative;
                height: 100%;
                width: 100%;
                border: 1px solid black;
                border-radius: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4rem;
            }
            
            .card-style.red {
                color: red;
            }
            
            .card-style.black {
                color: black;
            }

            .card-style::before,
            .card-style::after{
                position: absolute;
                content: attr(data-value);
                font-size: 32px;
            }

            .card-style::before{
                top: .5rem;
                left: .5rem;
            }

            .card-style::after{
                bottom: .5rem;
                right: .5rem;
                transform: rotate(180deg);
            }
        }
    }
}